.app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(45deg, #606c88 0%, #3f4c6b 100%);
}

.app__wrapper {
	width: 400px;
	height: 420px;
}
