.main__toggle {
	position: absolute;
	background: white;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 150px;
	justify-content: space-around;
}

.main__toggle > span {
	width: 50px;
	text-align: center;
}

.main__toggle--graph {
	top: 20px;
	right: 40px;
}

.main__toggle--log {
	top: 80px;
	right: 40px;
}
